section(data-background-image="images/developer-tired.jpg" )
  h2 Front-End Development
  include sub-sllides/subSlide-1-for-s1.pug
  section
    section
      include sub-sllides/subSlide-2-for-s1.pug